@model POS.Module

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Module</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <div class="control-label col-md-3"><b>Dawca</b></div>
            <div class="col-md-9">
                @Html.DropDownList("CoordinatorDeptId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CoordinatorDeptId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-3"><b>Module Name</b></div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-3"><b>Module Name In English</b></div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.NameEN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NameEN, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.ModuleCode, new { htmlAttributes = new { @class = "form-control" } })

        <div class="form-group">
            <div class="control-label col-md-3"><b>Biorca</b></div>
            <div class="col-md-9">
                @Html.DropDownList("DepartmentId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-3"><b>Specialization Name</b></div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Specialization, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Specialization, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-3"><b>Coordinator Name</b></div>
            <div class="col-md-9">
                @Html.DropDownList("Coordinator", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Coordinator, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="display:none">
            @Html.LabelFor(model => model.PreparedYearId, "PreparedYearId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PreparedYearId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PreparedYearId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="display:none">
            @Html.LabelFor(model => model.AcademicYearId, "AcademicYearId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AcademicYearId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AcademicYearId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-3"><b>Semester</b></div>
            <div class="col-md-9">
                @Html.DropDownList("SemesterId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SemesterId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-3"><b>Module Type</b></div>
            <div class="col-md-9">
                @Html.DropDownList("CourseTypeId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CourseTypeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-3"><b>Degree Type</b></div>
            <div class="col-md-9">
                @Html.DropDownList("DegreeTypeId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DegreeTypeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-3"><b>Study Type</b></div>
            <div class="col-md-9">
                @Html.DropDownList("StudyTypeId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StudyTypeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="display:none">
            <div class="control-label col-md-3"><b>Language</b></div>
            <div class="col-md-9">
                @Html.DropDownList("LanguageId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LanguageId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-3"><b>ECTS</b></div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.ECTS, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ECTS, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="display:none">
            <div class="control-label col-md-3"><b>Is Foreign Language</b></div>
            <div class="col-md-9">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsFL)
                    @Html.ValidationMessageFor(model => model.IsFL, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-3"><b>Note</b></div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="display:none">
            <div class="control-label col-md-3"><b>Is Active</b></div>
            <div class="col-md-9">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsActive)
                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group" style="display:none">
            <div class="control-label col-md-3"><b>Is Completed</b></div>
            <div class="col-md-9">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsCompleted)
                    @Html.ValidationMessageFor(model => model.IsCompleted, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-3"><b>Confirmation</b></div>
            <div class="col-md-9">
                @Html.DropDownList("StatusId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StatusId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "DeptModules", new { @id = Model.DepartmentId })

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
