@model POS.StaffAvailability

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>StaffAvailability</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mon08)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mon08)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mon09)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mon09)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mon10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mon10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mon11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mon11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mon12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mon12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mon13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mon13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mon14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mon14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mon15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mon15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mon16)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mon16)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mon17)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mon17)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mon18)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mon18)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mon19)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mon19)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mon20)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mon20)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tue08)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tue08)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tue09)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tue09)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tue10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tue10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tue11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tue11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tue12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tue12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tue13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tue13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tue14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tue14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tue15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tue15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tue16)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tue16)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tue17)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tue17)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tue18)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tue18)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tue19)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tue19)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tue20)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tue20)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wed08)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wed08)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wed09)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wed09)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wed10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wed10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wed11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wed11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wed12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wed12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wed13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wed13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wed14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wed14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wed15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wed15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wed16)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wed16)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wed17)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wed17)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wed18)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wed18)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wed19)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wed19)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wed20)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wed20)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thu08)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thu08)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thu09)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thu09)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thu10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thu10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thu11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thu11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thu12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thu12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thu13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thu13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thu14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thu14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thu15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thu15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thu16)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thu16)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thu17)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thu17)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thu18)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thu18)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thu19)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thu19)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thu20)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thu20)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fri08)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fri08)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fri09)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fri09)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fri10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fri10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fri11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fri11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fri12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fri12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fri13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fri13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fri14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fri14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fri15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fri15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fri16)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fri16)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fri17)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fri17)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fri18)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fri18)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fri19)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fri19)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fri20)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fri20)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sat08)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sat08)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sat09)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sat09)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sat10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sat10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sat11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sat11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sat12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sat12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sat13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sat13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sat14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sat14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sat15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sat15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sat16)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sat16)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sat17)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sat17)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sat18)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sat18)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sat19)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sat19)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sat20)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sat20)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sun08)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sun08)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sun09)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sun09)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sun10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sun10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sun11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sun11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sun12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sun12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sun13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sun13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sun14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sun14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sun15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sun15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sun16)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sun16)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sun17)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sun17)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sun18)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sun18)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sun19)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sun19)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sun20)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sun20)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modifies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modifies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailabilityPeriod.PeriodName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailabilityPeriod.PeriodName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
